.open_menu {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  
  .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 550px;
    }
  }
  
  .information {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
      display: flex;
      font-size: 42px;
      font-weight: bold;
      color: #0684c4;
    }

    p {
      display: inline-block;
      font-size: 25px;
      font-weight: bold;
      color: #808080;
    }

    a {
      color: #0320b1;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

@media (max-width: 1480px) {
  .open_menu {
    position: absolute;
    right: 24px;
    bottom: 67px;
    width: calc((100% - 48px));
    height: calc((100% - 134px));
  }

  .hide_menu {
    position: absolute;
    right: 24px;
    bottom: 67px;
    width: calc((100% - 48px));
    height: calc((100% - 134px));
  }
}

@media (max-width: 720px) {
  .open_menu {
    width: 100%;
    height: calc(100% - 64px);
    left: 0;
    bottom: 0;
  }

  .hide_menu {
    width: 100%;
    height: calc(100% - 64px);
    left: 0;
    bottom: 0;
  }
}