* {

  .navbar {
    position: absolute;
    width: 100%;
    height: 64px;
    bottom: 0;
    display: none;
    >div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      >a {
        display: block;
        text-align: center;
      }
    }
  }

  .Box {
    width: 100%;
    height: 100%;
    padding: 0 24px;

    .listBoxHeader {
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div:nth-child(1) {
        font-weight: 500;
      }

      .div {
        display: flex;
        align-items: center;

        a {
          color: #0684c4;
          margin-right: 24px;
          display: flex;
        }

        .btn {
          display: inline-block;
          width: 100px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead,
      tbody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 3px;
        padding: 0 24px;

        tr>td {
          height: 60px;
        }

        tr:nth-child(1) {
          .checkBox {
            width: 65px;

            >div {
              >label {
                width: 24px;
                height: 24px;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;

                >svg {
                  display: none;
                }
              }

              .light_ck {
                color: #fff;
                background: #fff;
                border: 2px solid #8993A7;
              }

              .dark_ck {
                color: #2F3146;
                background: #2F3146;
                border: 2px solid #8C8EA0;
              }

              input {
                display: none;

                &:checked~.light_ck {
                  background: #0684c4;
                  border: none;

                  svg {
                    display: block;
                  }
                }

                &:checked~.dark_ck {
                  background: #0684c4;
                  border: none;

                  svg {
                    display: block;
                  }
                }
              }
            }
          }

          .keys {
            width: 100px;

            div {
              display: none;
            }
          }

          .name {
            width: 100px;
          }

          .area {
            width: 150px;
          }

          .number {
            width: 100px;
          }

          .id {
            width: 100px;
          }

        }
        
        tr:nth-child(2) {
          td {
            text-align: right;
          }
          .authority {
            width: 120px;
          }
          .teacher {
            width: 120px;
          }
          .date {
            width: 150px;

            span {
              text-align: right;
            }
          }   
        }
      }
      thead {
        tr:nth-child(1) {
          td:nth-child(1) {
            >div {
              .light_ck {
                border-color: #ACB2CB;
              }
              .dark_ck {
                border-color: #6F738E;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  * {
    body {

      .listHeader {
        height: 42px;
        padding: 0 24px;

        .title {
          font-size: 14px;

          span {
            font-size: 14px;
          }
        }

        .btn {
          display: none;
        }
      }

      .navbar {
        display: flex;
      }

      .Box {
        padding: 0;
        border-radius: 0;

        .listBoxHeader {
          padding: 0 24px;
          height: 50px;

          >div:nth-child(1) {
            display: none;
          }

          .div {
            a {
              display: none;
            }

            .btn {
              width: 80px;
              height: 32px;
            }
          }
        }

        table {

          thead,
          tbody {
            tr:nth-child(1) {
              text-align: center;

              .checkBox {
                width: 65px;
              }
              
              .classification {
                display: none;
              }

              .area {
                display: none;
              }
            }


            tr:nth-child(2) {
              .file {
                display: none;
              }
            }
          }

          thead {
            tr>td {
              height: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 330px) {
  * {
    body {

      .Box {
        padding: 0;
        border-radius: 0;

        table {
          thead,
          tbody {
            tr:nth-child(1) {
              .checkBox {
                width: 50px;
              }

              .type {
                width: 110px;
              }
            }
          }
        }
      }
    }
  }
}