* {
  body {
    .open_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc((100% - 256px) - 48px);
      height: calc((100% - 134px));
      min-width: 320px;
    }

    .hide_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc(100% - 48px);
      height: calc((100% - 134px));
      min-width: 320px;
    }

    .listHeader {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 22px;
        font-weight: 700;

        span {
          font-size: 22px;
        }
      }

      .page {
        display: flex;
        align-items: center;

        .light_page {
          color: #8993A7;
        }

        .dark_page {
          color: #6F738E;
        }

        span {
          margin-right: 12px;
        }

        input {
          width: 36px;
          height: 24px;
          border: none;
          outline: none;
          border-radius: 3px;
          text-align: center;
          margin-right: 5px;
        }
      }

      .btn {
        display: flex;
        margin-left: 20px;

        .left {
          margin-right: 10px;
        }

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 3px;
        }
      }
    }

    .listBox {
      height: calc((100% - 70px));
      border-radius: 4px;

      .Box {
        width: 100%;
        height: 100%;
        padding: 0 24px;

        .listBoxHeader {
          height: 62px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div:nth-child(1) {
            font-weight: 500;
          }

          .div {
            display: flex;
            align-items: center;

            a {
              color: #0684c4;
              margin-right: 24px;
            }

            .btn {
              display: inline-block;
              width: 100px;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 3px;
            }
          }
        }

        table {
          width: 100%;
          border-collapse: collapse;

          thead,
          tbody {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-radius: 3px;
            padding: 0 24px;

            tr>td {
              height: 60px;
            }

            tr:nth-child(1) {
              td:nth-child(1) {
                width: 82px;

                >div {
                  >label {
                    width: 24px;
                    height: 24px;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >svg {
                      display: none;
                    }
                  }

                  .light_ck {
                    color: #fff;
                    background: #fff;
                    border: 2px solid #8993A7;
                  }

                  .dark_ck {
                    color: #2F3146;
                    background: #2F3146;
                    border: 2px solid #8C8EA0;
                  }

                  input {
                    display: none;

                    &:checked~.light_ck {
                      background: #0684c4;
                      border: none;

                      svg {
                        display: block;
                      }
                    }

                    &:checked~.dark_ck {
                      background: #0684c4;
                      border: none;

                      svg {
                        display: block;
                      }
                    }
                  }
                }
              }

              td:nth-child(2) {
                width: 120px;

                div {
                  display: none;
                }
              }

              td:nth-child(3) {
                width: 164px;
              }

              td:nth-child(4) {
                width: 102px;
              }

              td:nth-child(5) {
                width: 134px;
              }

              td:nth-child(6) {
                span {
                  display: inline-block;
                  display: flex;
                  align-items: center;

                  >div {
                    margin-left: 13px;
                  }
                }
              }
            }

            tr:nth-child(2) {
              text-align: right;

              td:nth-child(1) {
                div {
                  width: 30px;
                  height: 36px;
                }

                .light_file {
                  background: url(../img/light_file.png) 50% 50% / cover;
                }

                .dark_file {
                  background: url(../img/dark_file.png) 50% 50% / cover;
                }
              }

              td:nth-child(2) {
                width: 130px;
              }
            }
          }
          thead {
            tr:nth-child(1) {
              td:nth-child(1) {
                >div {
                  .light_ck {
                    border-color: #ACB2CB;
                  }
                  .dark_ck {
                    border-color: #6F738E;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1480px) {
  body {
    .open_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc((100% - 48px));
      height: calc((100% - 134px));
    }

    .hide_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc((100% - 48px));
      height: calc((100% - 134px));
    }

    .listBox {
      table {
        tr:nth-child(1) {
          td:nth-child(3) {
            display: none;
          }

          td:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  * {
    body {
      .listBox {
        table {
          tr:nth-child(1) {
            td:nth-child(6) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  * {
    body {
      .open_main {
        width: 100%;
        height: calc(100% - 64px);
        left: 0;
        bottom: 0;
      }

      .hide_main {
        width: 100%;
        height: calc(100% - 64px);
        left: 0;
        bottom: 0;
      }

      .listHeader {
        height: 42px;
        padding: 0 24px;

        .title {
          font-size: 14px;

          span {
            font-size: 14px;
          }
        }

        .btn {
          display: none;
        }
      }

      .listBox {
        .Box {
          padding: 0;

          .listBoxHeader {
            padding: 0 24px;
            height: 50px;

            >div:nth-child(1) {
              display: none;
            }

            .div {
              a {
                display: none;
              }

              .btn {
                width: 80px;
                height: 32px;
              }
            }
          }

          table {

            thead,
            tbody {
              tr:nth-child(1) {
                td:nth-child(1) {
                  width: 60px;
                }

                td:nth-child(2) {
                  width: 200px;

                  span {
                    display: none;
                  }

                  div {
                    display: block;
                  }
                }

                td:nth-child(5) {
                  display: none;
                }
              }

              tr:nth-child(2) {
                td:nth-child(1) {
                  display: none;
                }
              }
            }

            thead {
              tr>td {
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}