* {
  body {
    .open_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc((100% - 256px) - 48px);
      height: calc((100% - 134px));
      min-width: 320px;
    }

    .hide_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc(100% - 48px);
      height: calc((100% - 134px));
      min-width: 320px;
    }

    .listHeader {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 22px;
        font-weight: 700;

        span {
          font-size: 22px;
        }
      }

      .page {
        display: flex;
        align-items: center;

        .light_page {
          color: #8993A7;
        }

        .dark_page {
          color: #6F738E;
        }

        span {
          margin-right: 12px;
        }

        input {
          width: 36px;
          height: 24px;
          border: none;
          outline: none;
          border-radius: 3px;
          text-align: center;
          margin-right: 5px;
        }
      }

      .btn {
        display: flex;
        margin-left: 20px;

        .left {
          margin-right: 10px;
        }

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 3px;
        }
      }
    }

    .listBox {
      height: calc((100% - 70px));
      border-radius: 4px;

      .navbar {
        position: absolute;
        width: 100%;
        height: 64px;
        bottom: 0;
        display: none;
        >div {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          >a {
            display: block;
            text-align: center;
          }
        }
      }
      .Box {
        width: 100%;
        height: 100%;
        padding: 0 24px;
        border-radius: 4px;

        .listBoxHeader {
          height: 62px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div:nth-child(1) {
            font-weight: 500;
          }
        }

        table {
          width: 100%;
          border-collapse: collapse;

          thead,
          tbody {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-radius: 3px;
            padding: 0 24px;

            tr>td {
              height: 60px;
            }

            tr:nth-child(1) {

              td:nth-child(1) {
                width: 200px;
              }

              td:nth-child(2) {
                width: 350px;

                div {
                  display: none;
                }
              }

              td:nth-child(3) {
                width: 350px;
              }

              td:nth-child(4) {
                width: 300px;
              }
            }

            tr:nth-child(2) {
              
              td {
                width: 300px;

                span {
                  display: inline-block;
                  display: flex;
                  align-items: center;

                  >div {
                    margin-left: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1480px) {
  body {
    .open_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc((100% - 48px));
      height: calc((100% - 134px));
    }

    .hide_main {
      position: absolute;
      right: 24px;
      bottom: 70px;
      width: calc((100% - 48px));
      height: calc((100% - 134px));
    }

    .listBox {
      table {
        tr:nth-child(1) {
          td:nth-child(3) {
            display: none;
          }

          td:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  * {
    body {
      .listBox {
        table {
          tr:nth-child(1) {
            td:nth-child(6) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  * {
    body {
      .open_main {
        width: 100%;
        height: calc(100% - 64px);
        left: 0;
        bottom: 0;
      }

      .hide_main {
        width: 100%;
        height: calc(100% - 64px);
        left: 0;
        bottom: 0;
      }

      .listHeader {
        height: 42px;
        padding: 0 24px;

        .title {
          font-size: 14px;

          span {
            font-size: 14px;
          }
        }

        .btn {
          display: none;
        }
      }

      .listBox {
        .navbar {
          display: flex;
        }
        .Box {
          padding: 0;
          border-radius: 0;

          .listBoxHeader {
            padding: 0 24px;
            height: 50px;

            >div:nth-child(1) {
              display: none;
            }

            .div {
              a {
                display: none;
              }

              .btn {
                width: 80px;
                height: 32px;
              }
            }
          }

          table {

            thead,
            tbody {
              tr:nth-child(1) {
                td:nth-child(1) {
                  width: 60px;
                }

                td:nth-child(2) {
                  width: 200px;

                  span {
                    display: none;
                  }

                  div {
                    display: block;
                  }
                }
              }
            }

            thead {
              tr>td {
                height: 50px;
              }
            }
          }
        }
      }
    }
  }

}