* {
  body {
    .modeBtn {
      display: none;
    }
    .show_contain {
      position: fixed;
      top: 0;
      left: 256px;
      width: calc(100% - 256px);
      height: 64px;
    }

    .hide_contain  {
      position: fixed;
      top: 0;
      left: 0;
      width: calc(100%);
      height: 64px;
    }

    .header {
      width: 100%;
      height: 100%;
      padding: 0 24px;
      .topbar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .toggle {
          cursor: pointer;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .search {
          position: relative;
          width: 600px;
          height: 46px;
          border-radius: 40px;
          overflow: hidden;
          input {
            padding-left: 50px;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
          }
          .light_input {
            color: #191919;
            background: #F1F1F5;
            &::placeholder {
              color: #ACB2CB;
            }
            &:focus {
              background: #F3F5F7;
            }
          }
          .dark_input {
            color: #fff;
            background: #383850;
            &::placeholder {
              color: #8C8EA0;
            }
            &:focus {
              background: #2B2E44;
            }
          }
          .icons {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            .HiSearch {
              width: 20px;
              height: 20px;
            }
          }
        }
        .mode {
          .light_mode {
            width: 30px;
            height: 30px; 
            cursor: pointer;
            background: url("../img/light_mode.png") 50% 50% / cover;
          }
    
          .dark_mode {
            width: 30px;
            height: 30px; 
            cursor: pointer;
            background: url("../img/dark_mode.png") 50% 50% / cover;
          }
        }
      }
    }
  }
}
  //   * {
  //   input[id="mode"]{
  //     display: none
  //   }

  //   .container {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;

  //     .header {
  //       display: flex;
  //       align-items: center;
  //       width: 100%;
  //       height: 64px;
  //     }

  //     .logo {
  //       font-family: 'Roboto', sans-serif;
  //       width: 280px;
  //       height: 64px;
  //       padding-left: 24px;
  //       font-size: 1.3rem;
  //       font-weight: 900;
  //       line-height: 64px;
  //     }

  //     .topbar {
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-between  ;
  //       width: calc(100% - 256px);
  //       height: 64px;
  //       padding: 0 24px;

  //       .toggle {
  //         width: 24px;
  //         height: 24px;
  //         // background: url(../images/그룹\ 117@2x.png) 50% 50% / cover; 
  //       }

  //       .search {
  //         position: relative;
  //         width: 600px;
  //         height: 46px;
  //       }

  //       .light_input {
  //         position: absolute;
  //         width: 100%;
  //         height: 100%;
  //         border-radius: 30px;
  //         border: none;
  //         outline: none;
  //         background: #F1F1F5;
  //         padding-left: 59px;

  //         &::placeholder {
  //           color: #ACB2CB;
  //         }
  //       }

  //       .dark_input {
  //         position: absolute  ;
  //         width: 100%;
  //         height: 100%; 
  //         border-radius: 30px;
  //         border: none;
  //         outline: none;
  //         color: rgba(255, 255, 255, 0.6);
  //         background: #383850;
  //         padding-left: 59px;

  //         &::placeholder {
  //           color: #8C8EA0;
  //         }
  //       }

  //         .AiOutlineSearch {
  //           position: absolute;
  //           line-height: 46px;
  //           left: 24px;
  //           top: 15px;
  //           size: 30px;
  //         }
  //     }

    
  //   }
  // }