@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;

  .main {
    margin-top: 20px;
    margin-left: 280px;
    width: calc(100% - 304px);

    .title {
      font-size: 1.35rem;
      font-weight: bold;
      color: #191919;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div > span {
        color: #0684c4;
      }

      div:nth-child(2) {
        display: flex;
        color: #8993A7;
        font-size: .875rem;
        font-weight: 400;
      }

      .btn {
        margin-left: 18px;

        .left {
          text-align: center;
          line-height: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 3px;
      }

        .right {
          text-align: center;
          line-height: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 3px;
          margin-left: 10px;
          background: #0684c4;
          color: #fff;
        }
      }
    }

    .page {
      input {
        color: #8993A7;
        width: 30px;
        height: 24px;
        padding: 10px;
        outline: none;
        border: 1px solid #ACB2CB;
        margin-left: 11px;
        margin-right: 5px;
        border-radius: 3px;
      }
    }

    .listBox {
      padding: 0 24px;
      margin-top: 18px;
      width: 100%;
      height: 876px;
      border-radius: 4px;
      background: #fff;
      transition: all .5s;

      .Box {

        .listHeader {
          color: #191919;
          font-size: .875rem;
          font-weight: 500;
          height: 62px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {

            span:nth-child(1) {
              color: #0684c4;
            }

            .btn {
              margin-left: 24px;
              color: #8993A7;
              display: inline-block;
              text-align: center;
              line-height: 35px;
              width: 100px;
              height: 36px;
              border: 1px solid #ACB2CB;
              border-radius: 3px;
              margin-left: 5px;
            }
          }

          div:nth-child(2) {

            span:nth-child(1) {
              margin-right: 5px;
            }
          }
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        width: 100%;
        height: 60px;
        color: #ACB2CB;
        font-size: .875rem;
        background: #F3F5F7;
        border-left: 24px solid #F3F5F7;
        border-right: 24px solid #F3F5F7;
      }

      tbody {
        width: 100%;
        height: 60px;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        color: #ACB2CB;
        font-size: .875rem;

        tr {

          td:nth-child(1) {
            color: #0684c4;
            font-weight: 500;
            width: 82px;
          }

          td:nth-child(2) {
            color: #8993A7;
            width: 120px;
          }

          td:nth-child(3) {
            width: 163px;
          }

          td:nth-child(4) {
            width: 102px;
          }

          td:nth-child(5) {
            width: 134px;
            font-size: .85rem;

            p {
              color: #8993A7;
              font-size: .875rem;
            }
          }
          
          td:nth-child(6) {
            width: 760px;
          }

          td:nth-child(7) {

            .file {
              width: 28px;
              height: 34px;
              // background: url(../images/그룹\ 216@2x.png) 50% 50% / cover;
            }
          }
          
          td:last-child {
            text-align: right;
            margin-left: 5px;
          }
        }
      }
    }
  }
}