* {
  body {
    min-height: 100vh;
    overflow-x: hidden;

    .show_nav { 
      position: fixed;
      top: 0;
      left: 0;
      min-width: 256px;
      height: 100vh;
      z-index: 1000;
    }

    .hide_nav {
      position: fixed;
      top: 0;
      left: -256px;
      min-width: 256px;
      height: 100vh;
      z-index: 1000;
    }

    .navigation {
      width: 100%;
      height: 100%;
    }

    .logo {
      color: #191919;
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      height: 64px;
      line-height: 64px;
      padding-left: 24px;
      border-bottom: 1px solid #F1F1F1;
      display: flex;
      align-items: center;
    }

    .profile {
      width: 100%;
      height: 90px;
      display: flex;
      padding: 0 24px;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;

      .left {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }

        div {
          display: block;
          margin-left: 12px;

          span {
            color: #ACB2CB;
            font-size: 13px;
          }
        }
      }

      .down {
        color: #8993A7;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        width: 18px;
        height: 18px;
        background: #F1F1F5;
        border-radius: 3px;
      }
    }

    .light_chart {
      width: 100%;
      height: 320px;
      position: absolute;
      text-align: center;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 100px;
    }

    .dark_chart {
      width: 100%;
      height: 320px;
      position: absolute;
      text-align: center;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 100px;
    }

    .listsBox { 
      .list {
        >p {
          svg {
            transform: rotate(0);
          }
        }
        .light_ul {
          height: 200px;
        }
        .dark_ul {
          height: 200px;
        }
      }
      .tag {
        width: 100%;
        height: 50px;
        padding: 0 24px;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
          transform: rotate(-180deg);
        }
      }

      .light_ul {
        height: 0;
        overflow: hidden;
        a {
          position: relative;
          width: 100%;
          height: 46px;
          margin: 0;
          display: flex;
          align-items: center;
          color: #8993A7;

          p {
            margin-left: 50px;
          }

          &:hover {
            background: #F1F1F5;
            transition: all .35s;
          }
        }
      }

      .dark_ul {
        height: 0;
        overflow: hidden;
        a {
          position: relative;
          width: 100%;
          height: 46px;
          margin: 0;
          display: flex;
          align-items: center;
          color: #8C8EA0;
          
          p {
            margin-left: 50px;
          }

          &:hover {
            background: #383850;
            transition: all .35s;
          }
        }
      }

    }

    .outBox {
      position: absolute;
      bottom: 0;
      width: 100%;

      div {
        a {
          color: #8993A7;
          display: flex;
          align-items: center;
          padding-left: 24px;
          width: 100%;
          height: 50px;
        }
      }
    }
  }

  .light_checked {
    background: #F1F1F5;
    p {
      color: #0684C4;
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 46px;
      background: #0684C4;
      border-radius: 0 2px 2px 0;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .dark_checked {
    background: #383850;
    p {
      color: #0684C4;
    }

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 46px;
      background: #0684C4;
      border-radius: 0 2px 2px 0;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

@media (max-width: 1480px) {
  * {
    body {
      .show_nav {
        left: -256px;
      }
      .hide_nav {
        left: 0;
      }
    }
  }
}

@media (max-width: 300px) {
  * {
    body {
      min-height: 100vh;
      overflow-x: hidden;
  
      .show_nav {
        min-width: 200px;
      }
  
      .hide_nav {
        min-width: 200px;
      }
    }
  }
}

@media (max-height: 756px) {
  * {
    body {
      .dark_chart {
        display: none;
      }
      .light_chart {
        display: none;
      }
    }
  }
}


