* {

  .form {
    background: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 24px;
    
    .title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .inputForm {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      input {
        background: #fff;
        border: 0;
        width: calc(100% - 48px);
        margin: 0 auto;
        height: 50px;
        font-size: 15px;
        padding-left: 24px;
        outline: none;
        border: 1px solid #333;
        border-radius: 4px;
        margin-bottom: 20px;
      }
    }
    
    .btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: calc(100% - 48px);
        border: 0;
        color: #fff;
        background-color: rgb(6, 132, 196);;
        height: 50px;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 720px) {
  * {
    .form {
      padding: 0;
      .title {
        margin-bottom: 20px;
      }
    }
  }
}