* {

  .open_menu, .hide_menu {
    position: absolute;
    right: 24px;
    bottom: 70px;
    min-width: 320px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .open_menu {
    width: calc((100% - 256px) - 48px);
    height: calc((100% - 214px));
    border-radius: 4px;
  }
  
  .hide_menu {
    width: calc(100% - 48px);
    height: calc((100% - 214px));
  }

  .form {
    background: #fff;
    width: 500px;
    height: 500px;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    
    .title {
      font-size: 34px;
      font-weight: 700;
    }

    .inputForm {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      input {
        width: 300px;
        height: 50px;
        font-size: 15px;
        margin: 20px 0;  
      }
    }
    
    .btn {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100px;
        height: 30px;
      }
    }
  }
}