@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .35s;
  font-family: 'Noto Sans KR', sans-serif;
  body {
    user-select: none;
  }
}