@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;

  .main {
    position: absolute;
    margin-right: 1.3%;
    right: 0;
    bottom: 0;
    width: calc(100% - 304px);    
    height: 91%;

    .light_title {
      position: absolute;
      width: 100%;
      font-size: 1.35rem;
      font-weight: bold;
      color: #191919;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .dark_title {
      position: absolute;
      width: 100%;
      font-size: 1.35rem;
      font-weight: bold;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

      div:nth-child(2) {
        display: flex;
        color: #8993A7;
        font-size: .875rem;
        font-weight: 400;
      }

      .btn {
        margin-left: 18px;

        .light_left {
          text-align: center;
          line-height: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 3px;
        }

        .dark_left {
          text-align: center;
          line-height: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 3px;
          background-color: #2F3146;
          color: #6F738E;
        }


        .light_right {
          text-align: center;
          line-height: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 3px;
          margin-left: 10px;
          background: #0684c4;
          color: #fff;
        }

        .dark_right {
          text-align: center;
          line-height: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 3px;
          margin-left: 10px;
          background: #0684c4;
          color: #2B2E44;
        }
      }
    }

    .light_page {
      input {
        color: #8993A7;
        width: 35px;
        height: 24px;
        padding: 10px;
        outline: none;
        border: 1px solid #ACB2CB;
        margin-left: 11px;
        margin-right: 5px;
        border-radius: 3px;
      }
    }

    .dark_page {
      input {
        color: #8993A7;
        background-color: #2F3146;
        width: 35px;
        height: 24px;
        padding: 10px;
        outline: none;
        border: 1px solid #6F738E;
        margin-left: 11px;
        margin-right: 5px;
        border-radius: 3px;
      }
    }

    .light_listBox {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 24px;
      width: 100%;
      height: 94%;
      border-radius: 4px;
      background: #fff;
      transition: all .5s;
    }

    .dark_listBox {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 24px;
      width: 100%;
      height: 94%;
      border-radius: 4px;
      background: #2F3146;
      transition: all .5s;
    }

    .light_listHeader {
      color: #191919;
      font-size: .875rem;
      font-weight: 500;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .dark_listHeader {
      color: #fff;
      font-size: .875rem;
      font-weight: 500;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .div {
      a:nth-child(1) {
        color: #0684c4;
      }

      .btn {
        margin-left: 24px;
        color: #8993A7;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        width: 100px;
        height: 36px;
        border: 1px solid #ACB2CB;
        border-radius: 3px;
        margin-left: 18px;
      }
    }

    div:nth-child(2) {
      a {
        margin-top: 7px;
        margin-right: 5px;
      }
    }
  }

    table {
      width: 100%;
      border-collapse: collapse;

      thead,
      tbody {
          width: 100%;
          height: 60px;
      }


      .light_thead {
        color: #ACB2CB;
        font-size: .875rem;
        background: #F3F5F7;
        border-left: 24px solid #F3F5F7;
        border-right: 24px solid #F3F5F7; 

        tr {

          td:nth-child(6) {
            width: 3%;
          }

          td:nth-child(7) {
            width: 46%;
          }

          td:nth-child(9) {
            text-align: right;
          } 
        }
      }

      .dark_thead {
        background: #2B2E44;
        color: #6F738E;
        border-left: 24px solid #2B2E44;
        border-right: 24px solid #2B2E44; 

        tr {

          td:nth-child(6) {
            width: 3%;
          }

          td:nth-child(7) {
            width: 46%;
          }

          td:nth-child(9) {
            text-align: right;
          } 
        }
      }

      tbody {
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        color: #ACB2CB;
        font-size: .875rem;

        tr {

          td:nth-child(1) {
            color: #0684c4;
            font-weight: 500;
            width: 82px;
          }

          td:nth-child(2) {
            color: #8993A7;
            width: 120px;
          }

          td:nth-child(3) {
            width: 163px;
          }

          td:nth-child(4) {
            width: 102px;
          }

          td:nth-child(5) {
            width: 134px;
            font-size: .85rem;

            p {
              color: #8993A7;
              font-size: .875rem;
            }
          }
          
          td:nth-child(6) {
            width: 760px;
          }

          td:nth-child(7) {

            .file {
              width: 28px;
              height: 34px;
            }
          }
          
          td:last-child {
            text-align: right;
            margin-left: 5px;
          }
        }
      }
    }

    #container {
      margin: 20px;
      width: 400px;
      height: 8px;
    }