@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
}

.navigation {
  background: #f8f8f8;
  left: 0;
  top: 0;
  width: 18%;
  height: 100%;
  position: absolute;
  border-left: #e3e3e3;
}

.title {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.title img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
.list h1, .list ul li {
    display: flex;
    align-items: center;
}
.list h1 {
    width: 100%;
    height: 56px;
    font-size: 16px;
    margin-left: 30px;
}

.list ul li {
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: #505050;
    position: relative;
    cursor: pointer;
}

.list ul li:hover {
    background: #f1f1f1;
}

.list ul li a {
    margin-left: 40px;
}

.checked {
    color: #191919;
}

.checked::before {
    position: absolute;
    width: 5px;
    height: 40px;
    background: #0684C4;
    content: '';
    border-radius: 0 9px 9px 0;
    top: 50%;
    transform: translateY(-50%);
}

.outBox {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.outBox ul li {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
}

.outBox ul li a {
    font-size: 14px;
    text-decoration: none;
    margin-left: 40px;
    color: #191919;
}

.main {
    width: 82%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    background-color: #fff;
}